<template name="home">
  <div class="outline">
    <!--<p>List of Latin works:</p>-->
    <ul class="works nav nav-list">
      {{#each works}}
        {{> work_listing}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="translationsList">
  <!--<p>List of Latin translations (Danish):</p>-->
  <ul class="translations">
    {{#each works}}
      {{> work_listing}}
    {{/each}}
  </ul>
</template>

<template name="work_listing">
  <li><label class="work-label nav-header"><span class="author">{{author}}</span>, {{title}}</label>
    <ul class="nav nav-list book-list tree">
        {{#each contents}}
          <li><label class="book-label"><span class="glyphicon glyphicon-book"></span>Latin text <span class="book-num">[ {{convertRoman(@index)}} ]</span></label>
            {{> book_listing}}
          </li>
        {{/each}}
    </ul>
  </li>
</template>

<template name="book_listing">
  <!--<li><label class="book-label">{{book_id}}</label>-->
    <ul class="nav nav-list chapters-list tree">
      {{#each chapters}}
        <li>
          <a href="{{pathFor route='chapter.show' class='chapterLink'}}">
            <span>{{title}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  <!--</li>-->
</template>
