<template name="sectionContent">
  <div id="{{section_id}}" class="{{sectionClasses}}" data-title="{{title}}">
        <div class="row">
          <div class="content {{#if isTranslationOn }}col-xs-6{{else}}col-xs-12{{/if}}">
            {{#if title}}<h3 class="section-title">{{title}}</h3>{{else}}<h3 class="section-title">&nbsp;</h3>{{/if}}
            <div class="{{targetClass}}">
              {{{content}}}
              {{> attribution attrProps}}
            </div>
          </div>
          {{#if isTranslationOn }}
            <div class="translations col-xs-6">
              {{> translationContent }}
            </div>
          {{/if}}
        </div>
      </div>
</template>
