<template name="translationContent">
  {{#let translation=getTranslation }}
    {{#if translation }}
    <h3>Translation <span class="lang-label">[{{translation.lang}}]</span></h3>
    <div class="{{#if hasTarget }}targeted{{/if}}">
      <div class="translation" lang="{{lang}}">
        {{{content translation onChange=setAlignment}}}
        {{#with translation}}
          {{> attribution}}
        {{/with}}
      </div>
    </div>
    <!--<div class="targetAlignment">Target:
      <i>
      {{#if targetValue}}
        {{targetValue}}
      {{else}}
        none
      {{/if}}
      </i>
    </div>-->
     {{else}}
      <h3>Translation <span class="lang-label">[None]</span></h3>
      <div class="no-translation"></div>
     {{/if}}
  {{/let}}
</template>
