<template name="nav">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ pathFor 'home' }}">Locus Classicus</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{ pathFor 'home' }}">Works<span class="sr-only">(current)</span></a></li>
        </ul>
        <p class="navbar-text navbar-right">Sponsored by <a href="http://info.clarin.dk">CLARIN-DK</a>
          <a title="CLARIN ERIC" href="https://www.clarin.eu/" class="clarin-logo">
            <img src="/images/CLARIN-Logo.png" alt="CLARIN ERIC logo">
          </a>
        </p>
      </div>
    </div>
  </nav>
</template>
